.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 4%;
}

h1 {
  font-size: calc(20px + 6vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffffff,
    0 0 15px #ffffff,
    0 0 20px #ffffff,
    0 0 40px #ffffff,
    0 0 60px #808080,
    0 0 10px #808080,
    0 0 98px #ffffff;
  color: #000000;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffffff,
      0 0 15px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff,
      0 0 60px #808080,
      0 0 10px #808080,
      0 0 98px #ffffff;
    color: #070707;
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffffff,
      0 0 15px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff,
      0 0 60px #808080,
      0 0 10px #808080,
      0 0 98px #ffffff;
    color: #000000;
  }
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cv-buttons {
  display: flex;
  gap: 20px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.unique-card {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.unique-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #888;
  z-index: 2;
  transition: color 0.3s;
}

.unique-card:hover .card-content {
  color: #ff7e5f;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.7);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s;
}

.unique-card:hover .background-overlay {
  opacity: 1;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
}


/* Responsive para pantallas Pequeñas */
@media (max-width: 480px) {
  .cv-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-top: 1%; // Ajusta según sea necesario, esto asegurará que haya espacio suficiente para el navbar

  }

  h1 {
    font-size: calc(10px + 4vh);
    line-height: calc(10px + 5vh);
    text-align: center;
    margin-top: 10px;
    /* Ajusta según tus necesidades */
  }

  .cv-buttons {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .unique-card {
    position: relative;
    width: 196px;
    height: 176px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
}

/* Responsive Pantallas Grandes */
@media screen and (min-width: 480px) and (max-width: 600px) {
  .cv-container {
    margin-top: 100px;
    padding-top: 30%; // Ajusta según sea necesario, esto asegurará que haya espacio suficiente para el navbar

  }

  h1 {
    font-size: calc(10px + 4vh);
    line-height: calc(10px + 5vh);
    text-align: center;
    margin-top: 30px;
    /* Ajusta según tus necesidades */
  }

  .cv-buttons {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .unique-card {
    position: relative;
    width: 196px;
    height: 176px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
}
