
.footer {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;

  margin-top: auto;
  font-family: 'roboto';
  color: white;
  align-content: center;

}
p
{text-align: center;
  width: 100%;
}
