@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

/* contacto.component.css */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Ajusta según sea necesario, esto hará que el contenedor ocupe el 100% de la altura de la pantalla
  padding-top: 7%; // Ajusta según sea necesario, esto asegurará que haya espacio suficiente para el navbar
  box-sizing: border-box;
}

/* Seccion Titulo */
h1 {
  font-size: calc(20px + 6vh);
  line-height: calc(20px + 10vh);
  text-shadow: 0 0 5px #ffffff,
    0 0 15px #ffffff,
    0 0 20px #ffffff,
    0 0 40px #ffffff,
    0 0 60px #808080,
    0 0 10px #808080,
    0 0 98px #ffffff;
  color: #000000;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffffff,
      0 0 15px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff,
      0 0 60px #808080,
      0 0 10px #808080,
      0 0 98px #ffffff;
    color: #070707;
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffffff,
      0 0 15px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff,
      0 0 60px #808080,
      0 0 10px #808080,
      0 0 98px #ffffff;
    color: #000000;
  }
}

/* final seccion Titulo */

/* Seccion contacto container */
$font-primary: 'Poppins',
Arial,
sans-serif;
$black: #000; // Define your black color here
$white: #fff; // Define your white color here
$success: #00ff00; // Define your success color here
$primary: #4b4a49;




a {
  transition: .3s all ease;
  color: $primary;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none;
}

h2,
h3,
h4,
h5,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-primary;
  color: $black;
}

.bg-primary {
  background: $primary !important;
}

.ftco-section {
  padding: 0 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}



.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-control {
  height: 52px;
  background: transparent;
  color: rgba(255, 255, 255, .8) !important;
  font-size: 14px;
  border-radius: 0px;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, .2);
}

.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5) !important;
}

.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, .5) !important;
}

.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, .5) !important;
}

.form-control:-moz-placeholder {
  color: rgba(255, 255, 255, .5) !important;
}

.form-control:focus,
.form-control:active {
  background: transparent;
  border-color: rgba(255, 255, 255, .5) !important;
}

textarea.form-control {
  height: inherit !important;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-wrap {
  background: #272a34;
}

.contact-wrap h3 {
  color: $white;
}

.info-wrap {
  background: darken(#272a34, 5%);
}

.info-wrap h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  position: relative;
}

.dbox {
  width: 100%;
  margin-bottom: 25px;
}

.dbox:last-child {
  margin-bottom: 0;
}

.dbox p {
  margin-bottom: 0;
}

.dbox p span {
  font-weight: 400;
  color: $white;
}

.dbox p a {
  color: rgba(255, 255, 255, .3);
}

.dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .02);
}

.dbox .icon span {
  font-size: 20px;
  color: $white;
}

.dbox .text {
  width: calc(100% - 50px);
}

.btn {
  margin-top: 15px;
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s;



  &:hover,
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  }

  &.btn-primary {
    background: $primary !important;
    border-color: $primary !important;
    color: $white;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }

    &:hover,
    &:focus {
      border-color: darken($primary, 10%) !important;
      background: darken($primary, 10%) !important;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
}

.contactForm {
  .form-control {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 0;
  }
}





/* git hub*/
.containerOne:hover {
  background-color: #1107d1;
  border-radius: 60%;
  transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  border-radius: 5%;
  transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  border-radius: 0%;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  border-radius: 60%;
  transition-duration: 0.3s;
}
