<!-- eslint-disable @angular-eslint/template/alt-text -->
<!-- Proyectos Tab -->
<div class="projects-container" label="Proyectos">
  <h1>Portfolio</h1>
  <div *ngFor="let items of list_Proyectos; let even = even"
    class="box-info">
    <div class="row_principal">
      <div class="card-pc" [ngClass]="{ 'even': even, 'odd': !even }">
        <div class="section_our_solution">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="our_solution_category">
                <div class="solution_cards_box">
                  <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                      <img src="{{items.icon}}" />
                    </div>
                    <div class="solu_title">
                      <h3>{{items.title}}</h3>
                    </div>
                    <div class="solu_description">
                      <p>
                        {{items.description}}
                      </p>
                      <p>
                        {{items.technologies}}
                      </p>
                      <a
                        *ngIf="items.linkCodigo !== null && items.linkCodigo !== undefined && items.linkCodigo !== ''"
                        target="_blank" [href]="items.linkCodigo"><button
                          class="read_more_btn">Ver Código</button></a>
                      <a
                        *ngIf="items.linkProyecto !== null && items.linkProyecto !== undefined && items.linkProyecto !== ''"
                        target="_blank" [href]="items.linkProyecto"><button
                          class="read_more_btn">Ver Proyecto</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="media">
        <button class="project-image"
          (click)="items.video !== undefined ? openVideoDialog(items.video) : null">
          <img
            src="{{ items.image }}"
            alt="Project Image"
            *ngIf="items.image"
            class="project-image" />
        </button>
      </div>
    </div>
  </div>
  <app-contacto id="contacto"></app-contacto>
