<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="navbar-container">
  <div class="wrapper">
    <header>
      <nav>
        <div class="menu-icon">
          <i class="fa fa-bars fa-2x"></i>
        </div>

        <div class="logo"><a (click)="navigateTo('home')">
            &#60; E / G &#62;
            <!--  <div class="darkmode-toggle">
            <label class="switch_mode">
              <input type="checkbox">
              <span class="slider"></span>
            </label>
          </div> -->
          </a></div>
        <div class="menu">
          <ul>
            <li><a (click)="navigateTo('home')">Inicio</a></li>
            <li><a (click)="navigateTo('sobremi')">Sobre Mi</a></li>
            <li><a (click)="navigateTo('portfolio')">Portfolio</a></li>
            <li><a (click)="navigateTo('contacto')">Contacto</a></li>
            <li><a (click)="navigateTo('cv')">CV</a></li>
            <li><a routerLink="v1">V.1</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
