@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

/* sobre-mi.component.css */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Ajusta según sea necesario, esto hará que el contenedor ocupe el 100% de la altura de la pantalla
  padding-top: 4%; // Ajusta según sea necesario, esto asegurará que haya espacio suficiente para el navbar
  box-sizing: border-box;
}

h1 {
  font-size: calc(20px + 6vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffffff,
    0 0 15px #ffffff,
    0 0 20px #ffffff,
    0 0 40px #ffffff,
    0 0 60px #808080,
    0 0 10px #808080,
    0 0 98px #ffffff;
  color: #000000;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  margin-bottom: 30px;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffffff,
      0 0 15px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff,
      0 0 60px #808080,
      0 0 10px #808080,
      0 0 98px #ffffff;
    color: #070707;
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffffff,
      0 0 15px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #ffffff,
      0 0 60px #808080,
      0 0 10px #808080,
      0 0 98px #ffffff;
    color: #000000;
  }
}

h2 {
  font-size: 2em;
  /* Ajusta el tamaño de la fuente del título */
  color: #000000;
  /* Ajusta el color del texto según tus preferencias */
  margin-bottom: 2px
}

* {
  box-sizing: border-box;
}

.center {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  width: 70%;
  font-size: 30px;
  display: block;
  text-align: center;
  color: #000000;
}

.char {
  font-size: 40px;
  height: 40px;
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }

  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}





/* logos cards */
.card-body {
  text-align: center;
}

.card-img-top {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.card-img-top:hover {
  transition-duration: 5ms;
  opacity: 0.9;
  transform: scale(1.2);
}

/* fin css logos */

/* Responsive para pantallas Pequeñas */
@media (max-width: 480px) {
  .about-container {
    margin-top: 100px;
    padding-top: 3%; // Ajusta según sea necesario, esto asegurará que haya espacio suficiente para el navbar

  }

  h1 {
    font-size: calc(10px + 4vh);
    line-height: calc(10px + 5vh);
    text-align: center;
    /* Ajusta según tus necesidades */
  }

  .center {
    margin-top: 87px;
    margin-bottom: 130px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    font-size: 1.3em; // Reduce el tamaño de la fuente del título
    text-align: center;
  }

  p {
    width: 80%; // Aumenta el ancho del párrafo para dispositivos más pequeños
    font-size: 20px; // Reduce el tamaño de la fuente del párrafo
  }

  .col-lg-2,
  .col-md-3,
  .col-sm-4,
  .col-6 {
    padding: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .card-img-top {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Centrar las imágenes en la columna */
  }

  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 1px;
    padding: 1.25rem;
  }
}

/* Responsive Pantallas Grandes */
@media screen and (min-width: 480px) and (max-width: 600px) {
  .about-container {
    padding-top: 10%; // Aumenta el padding-top para dispositivos más pequeños
  }

  h1 {
    font-size: calc(10px + 4vh);
    line-height: calc(10px + 5vh);
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    font-size: 1.4em; // Reduce el tamaño de la fuente del título
    text-align: center; // Reduce el tamaño de la fuente del título
  }

  .center {
    height: 30vh; // Aumenta la altura para dispositivos más pequeños
  }

  p {
    width: 90%; // Aumenta el ancho del párrafo para dispositivos más pequeños
    font-size: 20px; // Reduce el tamaño de la fuente del párrafo
  }

  .card-img-top {
    width: 40px; // Reduce el tamaño de la imagen
    height: 40px; // Reduce el tamaño de la imagen
  }

}

/* sobre-mi.component.css */
