@charset "UTF-8";

/* home.component.css, sobre-mi.component.css, proyectos.component.css, contacto.component.css */
:host {
  display: block;
  height: 100vh;
}


/* sobre-mi.component.css */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Ajusta según sea necesario, esto hará que el contenedor ocupe el 100% de la altura de la pantalla
  padding-top: 140px; // Ajusta según sea necesario, esto asegurará que haya espacio suficiente para el navbar
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  /* Ajusta el tamaño de la fuente del título */
  color: #333;
  /* Ajusta el color del texto según tus preferencias */
}


h2 {
  font-size: 1.8em;
  /* Ajusta el tamaño de la fuente del título */
  color: #333;
  /* Ajusta el color del texto según tus preferencias */
}

.text {
  font-size: 1.2em;
  /* Ajusta el tamaño de la fuente del párrafo */
  line-height: 1.6;
  /* Ajusta la altura de línea según tus preferencias */
  color: #555;
  /* Ajusta el color del texto según tus preferencias */
  margin-top: 20px;
  /* Ajusta el espacio superior según tus preferencias */
}

/* sobre-mi.component.css */

/* logos cards */
.card-body {
  text-align: center;
}

.card-img-top {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.card-img-top:hover {
  transition-duration: 5ms;
  opacity: 0.9;
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .card-img-top {
    width: 35px;
  }
}

/* fin css logos */
