<!-- sobre-mi.component.html -->
<div class="about-container">
  <h2>Amante de la Tecnologia, Juegos y la Musica, me encanta la programacion.</h2>
  <p class="text">
    Soy Desarrollador Web Backend en etapa Junior con 2 años
    de experiencia en proyectos personales Autodidacta y
    con gran iniciativa personal, imaginación y capacidad
    para adoptar diferentes soluciones a los
    problemas que puedan surgir en la etapa de desarrollo
    o en la adaptación e implementación de nuevas
    tecnologías.
  </p>
</div>
