<!-- eslint-disable @angular-eslint/template/alt-text -->
<!-- sobre-mi.component.html -->
<div class="about-container">
  <h1>Sobre Mi</h1>
  <div class="center">
    <h2>Amante de la Tecnologia, Juegos y la Musica, me encanta la
      programacion.</h2>

    <p id="text" [@textAnimation]="animationState">
      Soy Desarrollador Web con 2 años
      de experiencia en proyectos personales Autodidacta y
      con gran iniciativa personal, imaginación y capacidad
      para adoptar diferentes soluciones a los
      problemas que puedan surgir en la etapa de desarrollo
      o en la adaptación e implementación de nuevas
      tecnologías.
    </p>
  </div>
  <br>
  <br>
  <!-- inicio tecnologias  -->
  <!-- inicio tecnologias  -->
  <h1>Mi Stack Tecnologico</h1>
  <div class="card-body">
    <div class="row">
      <ng-container *ngFor="let item of list_Tecnologias; let i = index;">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngIf="i > 0">
          <img src="{{ item.linkLogo }}" class="card-img-top" />
        </div>
      </ng-container>
    </div>
  </div>
</div>
<app-proyectos id="portfolio"></app-proyectos>
