/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}
body {
  margin: 0;
font-family: Consolas, monaco, monospace;
}
body {
  background-image: url(src\assets\images\background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

 display: flex;
  flex-direction: column;
  min-height: 100%;
}
@media only screen and (max-width: 767px) {
  body {
    background-image: url(src\assets\images\background-mobile.jpg);
  }
}


.footer {
  height: 4rem;
  background-color: black;
display:flex ;
  justify-content: center;
  bottom: 0px;
  width: 100%;

  margin-top: auto;
  font-family:  Consolas, monaco, monospace;
  color: white;

}
.footer-content {

  align-content: center;
  text-align: center;
  margin-top: 3px;
}

