/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
  background-image: url(src\assets\images\background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  Font-family: Consolas, monaco, monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
@media only screen and (max-width: 767px) {
body {
background-image: url(src\assets\images\background-mobile.jpg);
}
}
